<%= form_for(@paciente) do |form| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	Dados Pessoais </br>
  <p> <%= form.label :nm_paciente, "Nome: " %> </br>
  <%= form.text_field :nm_paciente, :size => 60 %> </p>

  <p> <%= form.label :idade, "Idade: " %> </br>
  <%= form.text_field :idade, :size => 3 %> </p>

  <p> <%= form.label :dt_nascimento, "Data de nascimento: " %> </br>
  <%= form.date_select(:dt_nascimento, :start_year => 1940, :end_year => 2005, :order => [:day, :month, :year],
    :use_month_numbers => true) %> </p>

  <p> <%= form.label :naturalidade, "Naturalidade: " %> (Cidade onde você nasceu) </br>
  <%= form.text_field :naturalidade, :size => 60 %> </p>

  <p> <%= form.label :nr_rg, "RG: " %> </br>
  <%= form.text_field :nr_rg, :size => 10 %> </p>

  <p> <%= form.label :convenio, "Tem Convênio Médico? " %> </br>
    <%= form.select :convenio, ([["Sim", "1"], ["Não", "2"]]) %>
  </p>

  <p> <%= form.label :ds_convenio, "Qual? " %> </br>
  <%= form.text_field :ds_convenio, :size => 60 %> </p>

  <p>  
     <%= form.label :escolaridade_id, "Escolaridade" %> </br>
     <%= form.collection_select(:escolaridade_id, @escolaridades, :id, :ds_escolaridade) %>   
  </p>
  
  <%= form.hidden_field :fg_ativo, :value => 1 %>
 
<p> <%= link_to 'Voltar', root_path %><%= form.submit "Avançar" %> </p>

<% end %>
