<%= form_for(@estado) do |f| %>
  <% if @estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado.errors.count, "error") %> prohibited this estado from being saved:</h2>

      <ul>
      <% @estado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
  <p> <%= form.label :rua, "Rua: " %> </br>
  <%= form.text_field :rua, :size => 60 %> </p>
  
  <p> <%= form.label :nr, "Número: " %> </br>
  <%= form.text_field :nr, :size => 4 %> </p>
  
  <p> <%= form.label :complemento, "Complemento: " %> </br>
  <%= form.text_field :complemento, :size => 60 %> </p>
  
  <p> <%= form.label :bairro, "Bairro: " %> </br>
  <%= form.text_field :bairro, :size => 60 %> </p>

  <p> <%= form.label :cep, "CEP: " %> </br>
  <%= form.text_field :cep, :size => 10 %> </p>
  
  <p> <%= form.label :cidade, "Cidade: " %> </br>
  <%= form.text_field :cidade, :size => 60 %> </p>
  
   <p> <%= form.label :estado, "Estado: " %> </br>
  <%= form.select :id_estado, Estados.find(:all).collect {|est| [est.ds_estado, est.id] } %>
  </p>
    
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
